## 파이썬 기초
# 4일차 (list, for)

### 주피터 노트북 사용법
- shift-enter : 실행후 다음창 이동/생성
- ctrl-enter : 실행하고 현재창에 그대로 있음
- a : 위에 창을 만듦
- b : 아래에 창을 만듦
- dd : 창 삭제
- Markdown : 문서 편집기

In [7]:
a = [1,2,3,4,5]
for i in a:
    print(i, i*i)

1 1
2 4
3 9
4 16
5 25

In [13]:
for i in a:
    print(i)
    print(i+1)

1
2
2
3
3
4
4
5
5
6

In [15]:
l = [1,2,3,4,5,'둘리']
for i in l:
    print(i)

1
2
3
4
5
둘리

# 5일차 (if, ...)

### 연습문제1 (2020.7.10)
> 10분간 풀어보세요~


```
data = [['홍길동',22,'서울'],
	['장길산',35,'평양'],
	['둘리',5,'우주'],
	['신사임당',60,'강릉']]

위의 데이터에서 나이의 평균을 구하시오.
for 문을 이용해서 푸세요.
```

In [1]:
data = [['홍길동',22,'서울'],
    ['장길산',35,'평양'],
    ['둘리',5,'우주'],
    ['신사임당',60,'강릉']]

In [3]:
for student in data:
    print(student)

['홍길동', 22, '서울']
['장길산', 35, '평양']
['둘리', 5, '우주']
['신사임당', 60, '강릉']

In [7]:
n = 0
for student in data:
    n = n + student[1]
    
print('평균은',n/4)

평균은 30.5

In [11]:
age = []
for student in data:
    age.append(student[1])
    
print(sum(age)/len(data))

30.5

In [14]:
score = 79

if score>=90:
    print('수')
elif score>=80:
    print('우')
else:
    print('큰일이다')

큰일이다

In [17]:
l = [10,99,87,91]

for i in l:
    if i>90:
        print(i, '우수함')
        
    print('체크함')

체크함
99 우수함
체크함
체크함
91 우수함
체크함

### 연습문제2 (2020.7.10)

```
data = [['홍길동',22,'서울'],
	['장길산',35,'평양'],
	['둘리',5,'우주'],
	['신사임당',60,'강릉']]

위의 데이터에서 나이가 30보다 어린 학생들을 뽑아서
data2 를 만드시오.
그리고, 이름이 3자가 아닌 학생들의 이름을 출력하시오.
for 와 if 를 사용한다
```

In [19]:
data2 = []

for i in data:
    if i[1]<30:
        data2.append(i)
        
print(data2)

[['홍길동', 22, '서울'], ['둘리', 5, '우주']]

In [20]:
for i in data:
    if len(i[0]) != 3:
        print(i[0])

둘리
신사임당

In [22]:
' '*5 + '*'*100

'     ****************************************************************************************************'

In [25]:
t = (3,)

In [27]:
type(t)

tuple

In [ ]:
(1+2)+(3)

In [28]:
t = (1,2,3,4,5)
t

(1, 2, 3, 4, 5)

In [29]:
type(t)

tuple

In [30]:
tuple([1,2,3])

(1, 2, 3)

In [31]:
t[0] = 999

TypeError: 'tuple' object does not support item assignment

In [35]:
t = 1,2

In [36]:
t

(1, 2)

In [41]:
(a,b) = [99,999]

In [42]:
a

99

In [43]:
b

999

In [40]:
a,b = [[1,2,3,4,5], [10,11,12,13,14]]

In [44]:
d = {'apple': 'this is a fruit and is red', 'orange': 'yellow type'}

In [45]:
d

{'apple': 'this is a fruit and is red', 'orange': 'yellow type'}

In [46]:
d = {1: 'a', 2: 'b'}
d

{1: 'a', 2: 'b'}

In [47]:
d = {'a': 1, 'b': 2}
d

{'a': 1, 'b': 2}

In [48]:
d = {'a':[1,2,3,4,5], 'b': (3,4,7)}
d

{'a': [1, 2, 3, 4, 5], 'b': (3, 4, 7)}

In [50]:
d = {}
d['이름']='홍길동'
d['나이']=22
d['주소']='서울'
d

{'나이': 22, '이름': '홍길동', '주소': '서울'}

In [51]:
d['나이']

22

In [52]:
d['나이']=23
d

{'나이': 23, '이름': '홍길동', '주소': '서울'}

In [54]:
d = {'a':333, 'b':222, 'c':777}

for i in d:
    print(i, d[i])

a 333
b 222
c 777

In [55]:
d = {'a':333, 'b':222, 'c':777}

for i in d.keys():
    print(i, d[i])

a 333
b 222
c 777

In [57]:
list(d.keys())

['a', 'b', 'c']

In [59]:
list(d.items())

[('a', 333), ('b', 222), ('c', 777)]

In [61]:
for key, value in d.items():
    print(key, '=>', value)

a => 333
b => 222
c => 777

In [62]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}

In [63]:
A

{1, 2, 3, 4, 5}

In [64]:
B

{4, 5, 6, 7, 8}

In [65]:
type(A)

set

In [66]:
set([1,2,3,4,5])

{1, 2, 3, 4, 5}

In [67]:
A | B

{1, 2, 3, 4, 5, 6, 7, 8}

In [68]:
A & B

{4, 5}

In [69]:
A - B

{1, 2, 3}

In [70]:
B - A

{6, 7, 8}

In [71]:
A = {0,1,2,3,4,5}
B = {0,1,2,4,5,6}

In [72]:
A - B

{3}

In [73]:
B - A

{6}

In [74]:
a = [1,2,3,4,5,2,4]
a2 = set(a)
a2

{1, 2, 3, 4, 5}

In [75]:
list(a2)

[1, 2, 3, 4, 5]

In [76]:
{1,2,2,2,2,2,2,2,3}

{1, 2, 3}

In [77]:
list(set(a))

[1, 2, 3, 4, 5]

In [78]:
type(True)

bool

In [79]:
bool(1)

True

In [83]:
bool(0)

False

In [81]:
bool(-1)

True

In [88]:
if 2==0:
    print('참')
else:
    print('거짓')

거짓

In [89]:
2==0

False

In [91]:
0 in [1,2,3]

False

In [93]:
'o' in 'Hello'

True

In [95]:
n = 1
(n>0) or (n<10)

True

In [96]:
not (n>0)

False

In [97]:
True * False

0

In [ ]:
a = 1
b = 2
c = [1,2,3]

In [98]:
l = [1,2,3]
l

[1, 2, 3]

In [99]:
l[1] = 0
l

[1, 0, 3]

In [102]:
l=[1,2,3]
l2 = l.copy()
l2[1]=0
l2

[1, 0, 3]

In [103]:
l

[1, 2, 3]

In [105]:
n = 1
n2 = n

In [106]:
n2 = 999
n, n2

(1, 999)

In [107]:
l = [1,2,3]
l2 = l

l2[1] = 999
l, l2

([1, 999, 3], [1, 999, 3])

### 6일차

In [1]:
a = 1
b = a

In [2]:
b = 2
a, b

(1, 2)

In [3]:
a = [1,2,3]
b = a

In [4]:
b[0]=999
b

[999, 2, 3]

In [5]:
a

[999, 2, 3]

In [6]:
l = []
a = [l,l,l]
a

[[], [], []]

In [7]:
l.append(999)
a

[[999], [999], [999]]

In [8]:
a[0][0]=-1
a

[[-1], [-1], [-1]]

In [12]:
a = [1,2,3]
#b = a.copy()
b = a[:]
b[0]=999

In [13]:
a

[1, 2, 3]

In [14]:
b

[999, 2, 3]

In [23]:
a,(b,c,d,e) = [1,[2,3,4,5]]

In [24]:
a

1

In [25]:
b,c,d,e

(2, 3, 4, 5)

In [32]:
n = 7

if (n>0 or n<5) and n!=3:
    print('양수')

양수

In [33]:
if n in [5,6,7]:
    print('good')

good

In [34]:
n = -999
a = 1 if n>0 else -1

In [35]:
a

-1

In [36]:
a = 0
if n>0:
    a = 1
else:
    a = -1
    
a

-1

In [39]:
n = -3
if n>0:
    #print('good')
    pass
else:
    print('check')

check

In [40]:
for i in [1,3,5]:
    print(i)

1
3
5

In [41]:
running = True

while running:
    print('now')
    continue
    print('gogo')
    break

gogo

In [11]:
for i in range(1,11):
    print(i*'*')

*
**
***
****
*****
******
*******
********
*********
**********

In [12]:
l = [1,2,3,4,5]
l[::2]

[1, 3, 5]

In [13]:
for i in range(1,11,2):
    print(i*'*')

*
***
*****
*******
*********

In [19]:
for i in range(2,10): # i => 0,1,2,3,4
    for j in range(1,10): # j => 0,1,2,3,4
        print(i,'곱하기',j,'은(는)',i*j)

2 곱하기 1 은(는) 2
2 곱하기 2 은(는) 4
2 곱하기 3 은(는) 6
2 곱하기 4 은(는) 8
2 곱하기 5 은(는) 10
2 곱하기 6 은(는) 12
2 곱하기 7 은(는) 14
2 곱하기 8 은(는) 16
2 곱하기 9 은(는) 18
3 곱하기 1 은(는) 3
3 곱하기 2 은(는) 6
3 곱하기 3 은(는) 9
3 곱하기 4 은(는) 12
3 곱하기 5 은(는) 15
3 곱하기 6 은(는) 18
3 곱하기 7 은(는) 21
3 곱하기 8 은(는) 24
3 곱하기 9 은(는) 27
4 곱하기 1 은(는) 4
4 곱하기 2 은(는) 8
4 곱하기 3 은(는) 12
4 곱하기 4 은(는) 16
4 곱하기 5 은(는) 20
4 곱하기 6 은(는) 24
4 곱하기 7 은(는) 28
4 곱하기 8 은(는) 32
4 곱하기 9 은(는) 36
5 곱하기 1 은(는) 5
5 곱하기 2 은(는) 10
5 곱하기 3 은(는) 15
5 곱하기 4 은(는) 20
5 곱하기 5 은(는) 25
5 곱하기 6 은(는) 30
5 곱하기 7 은(는) 35
5 곱하기 8 은(는) 40
5 곱하기 9 은(는) 45
6 곱하기 1 은(는) 6
6 곱하기 2 은(는) 12
6 곱하기 3 은(는) 18
6 곱하기 4 은(는) 24
6 곱하기 5 은(는) 30
6 곱하기 6 은(는) 36
6 곱하기 7 은(는) 42
6 곱하기 8 은(는) 48
6 곱하기 9 은(는) 54
7 곱하기 1 은(는) 7
7 곱하기 2 은(는) 14
7 곱하기 3 은(는) 21
7 곱하기 4 은(는) 28
7 곱하기 5 은(는) 35
7 곱하기 6 은(는) 42
7 곱하기 7 은(는) 49
7 곱하기 8 은(는) 56
7 곱하기 9 은(는) 63
8 곱하기 1 은(는) 8
8 곱하기 2 은(는) 16
8 곱하기 3 은(는) 24
8 곱하기 4 은(는) 32
8 곱하기 5 은(는) 40
8 곱하기 6 은(는) 48
8 곱하기 7 은(는) 56
8 곱하기 8 은(는) 64
8 곱하기 9 은(는) 72
9 곱하기 1 은(는) 9
9 곱하기 2 은(는) 18
9 곱하기 3 은(는) 27
9 곱하기 4 은(는) 36
9 곱하기 5 은(는) 45
9 곱하기 6 은(는) 54
9 곱하기 7 은(는) 63
9 곱하기 8 은(는) 72
9 곱하기 9 은(는) 81

In [21]:
구구단 = []

for i in range(2,10): # i => 2,3,4,5,6,7,8,9
    temp = []
    for j in range(1,10): # j => 1~9
        temp.append(i*j)
    구구단.append(temp)
    
구구단

[[2, 4, 6, 8, 10, 12, 14, 16, 18],
 [3, 6, 9, 12, 15, 18, 21, 24, 27],
 [4, 8, 12, 16, 20, 24, 28, 32, 36],
 [5, 10, 15, 20, 25, 30, 35, 40, 45],
 [6, 12, 18, 24, 30, 36, 42, 48, 54],
 [7, 14, 21, 28, 35, 42, 49, 56, 63],
 [8, 16, 24, 32, 40, 48, 56, 64, 72],
 [9, 18, 27, 36, 45, 54, 63, 72, 81]]

In [22]:
# 14,21,28,...,63 열을 뽑아서 리스트를 만드시오
l = []
for 행 in 구구단:
    l.append(행[-3])
    
l

[14, 21, 28, 35, 42, 49, 56, 63]

In [23]:
range(10)

range(0, 10)

In [24]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [25]:
list(range(1,200,2))

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99,
 101,
 103,
 105,
 107,
 109,
 111,
 113,
 115,
 117,
 119,
 121,
 123,
 125,
 127,
 129,
 131,
 133,
 135,
 137,
 139,
 141,
 143,
 145,
 147,
 149,
 151,
 153,
 155,
 157,
 159,
 161,
 163,
 165,
 167,
 169,
 171,
 173,
 175,
 177,
 179,
 181,
 183,
 185,
 187,
 189,
 191,
 193,
 195,
 197,
 199]

In [26]:
l = [[1,2,3],[4,5,6],[7,8,9]]

for i in l:
    print(i[0],i[1],i[2])

1 2 3
4 5 6
7 8 9

In [28]:
l = [[1,2,3],[4,5,6],[7,8,9]]

for a,b,c in l:
    print(a,b,c)

1 2 3
4 5 6
7 8 9

In [32]:
l = [[1,2,3],[4,5,6],[7,8,9]]

for line in l:
    for num in line:
        print(num)

1
2
3
4
5
6
7
8
9

In [33]:
l = []
for i in range(10):
    l.append(i*2)
    
l

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [34]:
l = [i*2 for i in range(10)]
l

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [37]:
l = []
for i in range(100):
    if i%3==0:
        l.append(i)
        
l

[0,
 3,
 6,
 9,
 12,
 15,
 18,
 21,
 24,
 27,
 30,
 33,
 36,
 39,
 42,
 45,
 48,
 51,
 54,
 57,
 60,
 63,
 66,
 69,
 72,
 75,
 78,
 81,
 84,
 87,
 90,
 93,
 96,
 99]

In [40]:
l = [(i if i%3==0 else -1) for i in range(100)]
l

[0,
 -1,
 -1,
 3,
 -1,
 -1,
 6,
 -1,
 -1,
 9,
 -1,
 -1,
 12,
 -1,
 -1,
 15,
 -1,
 -1,
 18,
 -1,
 -1,
 21,
 -1,
 -1,
 24,
 -1,
 -1,
 27,
 -1,
 -1,
 30,
 -1,
 -1,
 33,
 -1,
 -1,
 36,
 -1,
 -1,
 39,
 -1,
 -1,
 42,
 -1,
 -1,
 45,
 -1,
 -1,
 48,
 -1,
 -1,
 51,
 -1,
 -1,
 54,
 -1,
 -1,
 57,
 -1,
 -1,
 60,
 -1,
 -1,
 63,
 -1,
 -1,
 66,
 -1,
 -1,
 69,
 -1,
 -1,
 72,
 -1,
 -1,
 75,
 -1,
 -1,
 78,
 -1,
 -1,
 81,
 -1,
 -1,
 84,
 -1,
 -1,
 87,
 -1,
 -1,
 90,
 -1,
 -1,
 93,
 -1,
 -1,
 96,
 -1,
 -1,
 99]

In [ ]:
n = 77
m = 1 if n>0 else -1

In [43]:
def myadd(n1,n2):
    result = n1+n2
    return result

In [45]:
n = myadd(1,2)
print(n)

3

In [46]:
myadd('1','2')

'12'

### 7일차

### 연습문제 (20200714)
```
mat[i][j] 의 값이 i*j 가 되도록 리스트 mat를 만드시오.
- i 와 j 는 0~9 의 값을 가진다.
- 10분간
- 리스트 내포를 이용해서도 구해보세요.
- 5번째 열을 뽑아 리스트로 만들어 보세요.
```

In [2]:
mat = []
for i in range(10):
    temp = []
    for j in range(10):
        temp.append(i*j)
    mat.append(temp)
    
mat

[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [0, 2, 4, 6, 8, 10, 12, 14, 16, 18],
 [0, 3, 6, 9, 12, 15, 18, 21, 24, 27],
 [0, 4, 8, 12, 16, 20, 24, 28, 32, 36],
 [0, 5, 10, 15, 20, 25, 30, 35, 40, 45],
 [0, 6, 12, 18, 24, 30, 36, 42, 48, 54],
 [0, 7, 14, 21, 28, 35, 42, 49, 56, 63],
 [0, 8, 16, 24, 32, 40, 48, 56, 64, 72],
 [0, 9, 18, 27, 36, 45, 54, 63, 72, 81]]

In [3]:
mat[5][3]

15

In [1]:
mat = [[i*j for j in range(10)] for i in range(10)]
mat

[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [0, 2, 4, 6, 8, 10, 12, 14, 16, 18],
 [0, 3, 6, 9, 12, 15, 18, 21, 24, 27],
 [0, 4, 8, 12, 16, 20, 24, 28, 32, 36],
 [0, 5, 10, 15, 20, 25, 30, 35, 40, 45],
 [0, 6, 12, 18, 24, 30, 36, 42, 48, 54],
 [0, 7, 14, 21, 28, 35, 42, 49, 56, 63],
 [0, 8, 16, 24, 32, 40, 48, 56, 64, 72],
 [0, 9, 18, 27, 36, 45, 54, 63, 72, 81]]

In [4]:
fifth = [line[4] for line in mat]
fifth

[0, 4, 8, 12, 16, 20, 24, 28, 32, 36]

In [5]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [7]:
s = input()
print('>',s)

kingkong3
> kingkong3

In [8]:
f = open('안녕.txt')

In [9]:
f.read()

'안녕하세요\n반가워요~'

In [10]:
f.close()

In [19]:
f = open('안녕.txt')

In [20]:
for line in f:
    print('#' + line.strip() + '#')

#안녕하세요#
#반가워요~#

In [21]:
f.close()

In [42]:
f = open('안녕.txt')

In [43]:
s = f.readlines() # 개행문자도 읽는다
print(s)

['안녕하세요\n', '반가워요~']

In [41]:
f.close()

In [46]:
with open('안녕.txt') as f:
    for line in f:
        print('>', line.strip())

> 안녕하세요
> 반가워요~

### 파이썬 기본 라이브러리(모듈)

In [48]:
import os

In [49]:
os.getcwd()

'D:\\python12'

In [50]:
import math

In [51]:
math.sin(1)

0.8414709848078965

In [52]:
math.sin(math.pi)

1.2246467991473532e-16

### 데이터 파일 읽어오기
- 웹에서 다운받은 'username.csv'

In [ ]:
'''
1. 파일을 한줄씩 읽는다
2. 한줄을 분리하여 리스트에 넣는다
3. 리스트를 큰 리스트에 넣는다
'''

In [58]:
data = []

f = open('username.csv')
s = f.readline()
header = s.strip().split(';')

for line in f:
    l = line.strip().split(';')
    if len(l)==4: data.append(l)
    
f.close()

data

[['booker12', '9012', 'Rachel', 'Booker'],
 ['grey07', '2070', 'Laura', 'Grey'],
 ['johnson81', '4081', 'Craig', 'Johnson'],
 ['jenkins46', '9346', 'Mary', 'Jenkins'],
 ['smith79', '5079', 'Jamie', 'Smith']]

In [59]:
header

['Username', ' Identifier', 'First name', 'Last name']

### iris 읽어오기

In [67]:
iris = []

f = open('iris.csv')
s = f.readline()
header = s.strip().split(',')

spec = ['Iris-setosa', 'Iris-versicolor', 'Iris-virginica']

for line in f:
    l = line.strip().split(',')
    l = [float(i) for i in l[:4]] + [float(spec.index(l[4]))]
    iris.append(l)
    
f.close()

iris

[[5.1, 3.5, 1.4, 0.2, 0.0],
 [4.9, 3.0, 1.4, 0.2, 0.0],
 [4.7, 3.2, 1.3, 0.2, 0.0],
 [4.6, 3.1, 1.5, 0.2, 0.0],
 [5.0, 3.6, 1.4, 0.2, 0.0],
 [5.4, 3.9, 1.7, 0.4, 0.0],
 [4.6, 3.4, 1.4, 0.3, 0.0],
 [5.0, 3.4, 1.5, 0.2, 0.0],
 [4.4, 2.9, 1.4, 0.2, 0.0],
 [4.9, 3.1, 1.5, 0.1, 0.0],
 [5.4, 3.7, 1.5, 0.2, 0.0],
 [4.8, 3.4, 1.6, 0.2, 0.0],
 [4.8, 3.0, 1.4, 0.1, 0.0],
 [4.3, 3.0, 1.1, 0.1, 0.0],
 [5.8, 4.0, 1.2, 0.2, 0.0],
 [5.7, 4.4, 1.5, 0.4, 0.0],
 [5.4, 3.9, 1.3, 0.4, 0.0],
 [5.1, 3.5, 1.4, 0.3, 0.0],
 [5.7, 3.8, 1.7, 0.3, 0.0],
 [5.1, 3.8, 1.5, 0.3, 0.0],
 [5.4, 3.4, 1.7, 0.2, 0.0],
 [5.1, 3.7, 1.5, 0.4, 0.0],
 [4.6, 3.6, 1.0, 0.2, 0.0],
 [5.1, 3.3, 1.7, 0.5, 0.0],
 [4.8, 3.4, 1.9, 0.2, 0.0],
 [5.0, 3.0, 1.6, 0.2, 0.0],
 [5.0, 3.4, 1.6, 0.4, 0.0],
 [5.2, 3.5, 1.5, 0.2, 0.0],
 [5.2, 3.4, 1.4, 0.2, 0.0],
 [4.7, 3.2, 1.6, 0.2, 0.0],
 [4.8, 3.1, 1.6, 0.2, 0.0],
 [5.4, 3.4, 1.5, 0.4, 0.0],
 [5.2, 4.1, 1.5, 0.1, 0.0],
 [5.5, 4.2, 1.4, 0.2, 0.0],
 [4.9, 3.1, 1.5, 0.1, 0.0],
 [5.0, 3.2, 1.2, 0.2, 0.0],
 [5.5, 3.5, 1.3, 0.2, 0.0],
 [4.9, 3.1, 1.5, 0.1, 0.0],
 [4.4, 3.0, 1.3, 0.2, 0.0],
 [5.1, 3.4, 1.5, 0.2, 0.0],
 [5.0, 3.5, 1.3, 0.3, 0.0],
 [4.5, 2.3, 1.3, 0.3, 0.0],
 [4.4, 3.2, 1.3, 0.2, 0.0],
 [5.0, 3.5, 1.6, 0.6, 0.0],
 [5.1, 3.8, 1.9, 0.4, 0.0],
 [4.8, 3.0, 1.4, 0.3, 0.0],
 [5.1, 3.8, 1.6, 0.2, 0.0],
 [4.6, 3.2, 1.4, 0.2, 0.0],
 [5.3, 3.7, 1.5, 0.2, 0.0],
 [5.0, 3.3, 1.4, 0.2, 0.0],
 [7.0, 3.2, 4.7, 1.4, 1.0],
 [6.4, 3.2, 4.5, 1.5, 1.0],
 [6.9, 3.1, 4.9, 1.5, 1.0],
 [5.5, 2.3, 4.0, 1.3, 1.0],
 [6.5, 2.8, 4.6, 1.5, 1.0],
 [5.7, 2.8, 4.5, 1.3, 1.0],
 [6.3, 3.3, 4.7, 1.6, 1.0],
 [4.9, 2.4, 3.3, 1.0, 1.0],
 [6.6, 2.9, 4.6, 1.3, 1.0],
 [5.2, 2.7, 3.9, 1.4, 1.0],
 [5.0, 2.0, 3.5, 1.0, 1.0],
 [5.9, 3.0, 4.2, 1.5, 1.0],
 [6.0, 2.2, 4.0, 1.0, 1.0],
 [6.1, 2.9, 4.7, 1.4, 1.0],
 [5.6, 2.9, 3.6, 1.3, 1.0],
 [6.7, 3.1, 4.4, 1.4, 1.0],
 [5.6, 3.0, 4.5, 1.5, 1.0],
 [5.8, 2.7, 4.1, 1.0, 1.0],
 [6.2, 2.2, 4.5, 1.5, 1.0],
 [5.6, 2.5, 3.9, 1.1, 1.0],
 [5.9, 3.2, 4.8, 1.8, 1.0],
 [6.1, 2.8, 4.0, 1.3, 1.0],
 [6.3, 2.5, 4.9, 1.5, 1.0],
 [6.1, 2.8, 4.7, 1.2, 1.0],
 [6.4, 2.9, 4.3, 1.3, 1.0],
 [6.6, 3.0, 4.4, 1.4, 1.0],
 [6.8, 2.8, 4.8, 1.4, 1.0],
 [6.7, 3.0, 5.0, 1.7, 1.0],
 [6.0, 2.9, 4.5, 1.5, 1.0],
 [5.7, 2.6, 3.5, 1.0, 1.0],
 [5.5, 2.4, 3.8, 1.1, 1.0],
 [5.5, 2.4, 3.7, 1.0, 1.0],
 [5.8, 2.7, 3.9, 1.2, 1.0],
 [6.0, 2.7, 5.1, 1.6, 1.0],
 [5.4, 3.0, 4.5, 1.5, 1.0],
 [6.0, 3.4, 4.5, 1.6, 1.0],
 [6.7, 3.1, 4.7, 1.5, 1.0],
 [6.3, 2.3, 4.4, 1.3, 1.0],
 [5.6, 3.0, 4.1, 1.3, 1.0],
 [5.5, 2.5, 4.0, 1.3, 1.0],
 [5.5, 2.6, 4.4, 1.2, 1.0],
 [6.1, 3.0, 4.6, 1.4, 1.0],
 [5.8, 2.6, 4.0, 1.2, 1.0],
 [5.0, 2.3, 3.3, 1.0, 1.0],
 [5.6, 2.7, 4.2, 1.3, 1.0],
 [5.7, 3.0, 4.2, 1.2, 1.0],
 [5.7, 2.9, 4.2, 1.3, 1.0],
 [6.2, 2.9, 4.3, 1.3, 1.0],
 [5.1, 2.5, 3.0, 1.1, 1.0],
 [5.7, 2.8, 4.1, 1.3, 1.0],
 [6.3, 3.3, 6.0, 2.5, 2.0],
 [5.8, 2.7, 5.1, 1.9, 2.0],
 [7.1, 3.0, 5.9, 2.1, 2.0],
 [6.3, 2.9, 5.6, 1.8, 2.0],
 [6.5, 3.0, 5.8, 2.2, 2.0],
 [7.6, 3.0, 6.6, 2.1, 2.0],
 [4.9, 2.5, 4.5, 1.7, 2.0],
 [7.3, 2.9, 6.3, 1.8, 2.0],
 [6.7, 2.5, 5.8, 1.8, 2.0],
 [7.2, 3.6, 6.1, 2.5, 2.0],
 [6.5, 3.2, 5.1, 2.0, 2.0],
 [6.4, 2.7, 5.3, 1.9, 2.0],
 [6.8, 3.0, 5.5, 2.1, 2.0],
 [5.7, 2.5, 5.0, 2.0, 2.0],
 [5.8, 2.8, 5.1, 2.4, 2.0],
 [6.4, 3.2, 5.3, 2.3, 2.0],
 [6.5, 3.0, 5.5, 1.8, 2.0],
 [7.7, 3.8, 6.7, 2.2, 2.0],
 [7.7, 2.6, 6.9, 2.3, 2.0],
 [6.0, 2.2, 5.0, 1.5, 2.0],
 [6.9, 3.2, 5.7, 2.3, 2.0],
 [5.6, 2.8, 4.9, 2.0, 2.0],
 [7.7, 2.8, 6.7, 2.0, 2.0],
 [6.3, 2.7, 4.9, 1.8, 2.0],
 [6.7, 3.3, 5.7, 2.1, 2.0],
 [7.2, 3.2, 6.0, 1.8, 2.0],
 [6.2, 2.8, 4.8, 1.8, 2.0],
 [6.1, 3.0, 4.9, 1.8, 2.0],
 [6.4, 2.8, 5.6, 2.1, 2.0],
 [7.2, 3.0, 5.8, 1.6, 2.0],
 [7.4, 2.8, 6.1, 1.9, 2.0],
 [7.9, 3.8, 6.4, 2.0, 2.0],
 [6.4, 2.8, 5.6, 2.2, 2.0],
 [6.3, 2.8, 5.1, 1.5, 2.0],
 [6.1, 2.6, 5.6, 1.4, 2.0],
 [7.7, 3.0, 6.1, 2.3, 2.0],
 [6.3, 3.4, 5.6, 2.4, 2.0],
 [6.4, 3.1, 5.5, 1.8, 2.0],
 [6.0, 3.0, 4.8, 1.8, 2.0],
 [6.9, 3.1, 5.4, 2.1, 2.0],
 [6.7, 3.1, 5.6, 2.4, 2.0],
 [6.9, 3.1, 5.1, 2.3, 2.0],
 [5.8, 2.7, 5.1, 1.9, 2.0],
 [6.8, 3.2, 5.9, 2.3, 2.0],
 [6.7, 3.3, 5.7, 2.5, 2.0],
 [6.7, 3.0, 5.2, 2.3, 2.0],
 [6.3, 2.5, 5.0, 1.9, 2.0],
 [6.5, 3.0, 5.2, 2.0, 2.0],
 [6.2, 3.4, 5.4, 2.3, 2.0],
 [5.9, 3.0, 5.1, 1.8, 2.0]]

In [62]:
header

['SepalLength', 'SepalWidth', 'PetalLength', 'PetalWidth', 'Name']

In [63]:
len(iris)

150

In [64]:
len(iris[0])

5

In [68]:
import math

In [69]:
math.sqrt(2)

1.4142135623730951

In [70]:
math.sqrt(math.pi)

1.7724538509055159

In [71]:
from math import sqrt, pi

In [72]:
sqrt(2)

1.4142135623730951

In [73]:
sqrt(pi)

1.7724538509055159

In [76]:
# my_module.py
#import my_module